<!doctype html>
<title>Zabbix Tools</title>
<head>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static',   filename='css/bootstrap.css') }}">
    <link rel="icon" href="{{ url_for('static',     filename='img/favicon_logo.png') }}">
    <script src="{{ url_for('static',   filename='js/jquery-3.3.1.min.js') }}"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img onclick="location.href='/';" src="{{ url_for('static',  filename='img/logo.svg') }}" width="20%" height="10%">
        <div style="margin-left: 2%;" class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/processo">Processos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inclusao/processo">Novo Processo</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
<body>
    <h4 class="navbar" style="color: rgba(0, 0, 0, 0.5);padding-left: 1.4em;padding-bottom: 0;justify-content: unset;">Detalhes da etapa: <b> {{etapa.nome}}</b></h4><hr/>
    <div style="border: 1px solid #ced4da;border-radius: 0.25rem;transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;height: 33em;" class="container bg-light">
        <div style="width: 48%; float: left; margin: 1%;">
            <ul class="list-group">
              <li class="list-group-item active">Data</li>
              <li class="list-group-item">{{ moment(etapa.data_execucao).format('DD/MM/YYYY hh:mm:ss') }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Nome</li>
              <li class="list-group-item">{{ etapa.nome }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Descrição</li>
              <li class="list-group-item">{{ etapa.descricao }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Atributo modificado</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.nome }}</li>
            </ul>
        </div>
        <div style="width: 48%; float: right; margin: 1%;">
            {% if etapa.atributo_modificado._cls == 'AtributoIncluido' %}
            <ul class="list-group">
              <li class="list-group-item active">Tipo</li>
              <li class="list-group-item">Inclusão</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Valor</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.valor }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Id</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.id_atributo }}</li>
            </ul>
            {% elif etapa.atributo_modificado._cls == 'AtributoExcluido' %}
            <ul class="list-group">
              <li class="list-group-item active">Tipo</li>
              <li class="list-group-item">Remoção</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Nome objeto Removido</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.valor_anterior }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Id objeto Removido</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.id_atributo }}</li>
            </ul>
            {% elif etapa.atributo_modificado._cls == 'AtributoAtualizado' %}
            <ul class="list-group">
              <li class="list-group-item active">Tipo</li>
              <li class="list-group-item">Atualização</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Valor Anterior</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.valor_anterior }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Id (anterior)</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.id_atributo_anterior }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Novo Valor</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.novo_valor }}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item active">Id (novo)</li>
              <li class="list-group-item">{{ etapa.atributo_modificado.id_novo_atributo }}</li>
            </ul>
            {%endif %}
        </div>
        <div style="float: left; width: 100%">
          <h2>Objetos afetados</h2>
                {% for oa in  etapa.objetos_afetados %}
                    {{oa.nome}},
                {% endfor %}
        </div>
    </div>
</body>
<footer class="text-center" style="position: inherit;margin-top: 1%;">
    <img src="{{ url_for('static',  filename='img/favicon.svg') }}" width="3%" height="3%">
    <script type="text/javascript">

    copyright=new Date();

    update=copyright.getFullYear();

    document.write("Zabbix Tools © " + update);

    </script>
    <a class="grey link-alt" target="_blank" href="http://www.globo.com/">
        Globo.com
    </a>
</footer>
<script type="text/javascript">
    $('.form-group input[type=text]').addClass('form-control')
    $('.form-group input[type=submit]').addClass('btn btn-primary')
</script>

