<!doctype html>
<title>Zabbix Tools</title>
<head>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block content %}
    <h1>Novo Processo</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.nome.label }}<br>
            {{ form.nome }}
        </p>
        <p>
            {{ form.descricao.label }}<br>
            {{ form.descricao }}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email }}
        </p>
        <p>{{ form.salvar() }}</p>
    </form>
{% endblock %}